<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/img/food_blog_icon%20.png" style="width: auto;">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <title>food life</title>
    {#    限制blog里的图片的宽度#}
    <style type="text/css">
        #article img {
            max-width: 700px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Food Life</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#about" data-toggle="tab">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " href="#seeBlog" data-toggle="tab">Wow</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/blog/writeBlog">WriteBlog</a>
                </li>
                <li class="nav-item">
                    <!-- 提供额外的视觉效果，标识一组按钮中的原始动作 -->
                    <a href="/user/me" class="btn btn-primary" role="button">Me</a>
                </li>
            </ul>
        </div>
    </div>

</nav>
{% if message %}
    <div class="alert alert-warning">{{ message }}</div>
{% endif %}
<div class="tab-content">

    <div class="tab-pane" id="about" style="margin-left: 350px;">
        <div class="row">
            <div class="col-md-8">
                <h3 class="card-header">About</h3>
                <div class="card-body">
                    <h5 class="card-title">developer: Joshua</h5>
                    <h6 class="card-subtitle text-muted">a sophomore at Nankai University</h6>
                </div>
                <img style="height: 400px; width: 100%; display: block;" src="/static/img/liyi photo.jpg"
                     alt="Card image">
                <div class="card-body">
                    <p class="card-text">If you have any question can contact me</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">email: <u>liyinankai1@163.com</u></li>
                    <li class="list-group-item">qq: <u>1819975371</u></li>
                    <!-- 在新的页面里跳转 -->
                    <li class="list-group-item">blog: <a href="https://blog.csdn.net/weixin_44984664"
                                                         target="_blank">https://blog.csdn.net/weixin_44984664</a></li>
                </ul>
                <div class="card-body">
                    <a href="https://github.com/Joshua-li-yi/food-blog" class="card-link" target="_blank">github</a>
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
                <!-- <div class="card-footer text-muted">
                    2 days ago
                </div> -->
            </div>
        </div>
    </div>

    {% if blog %}
        <div class="tab-pane active" id="seeBlog">
        <div class="row" style="margin-top: 10px">
            <div class="col-md-3" style="margin-left: 20px">
                <h3 class="card-header">{{ blog.user_name }}</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">email: <u>{{ blog.user_email }}</u></li>
                </ul>

            </div>
            <div class="col-md-8" style="background-color: #303030;">
                <h2>{{ blog.blog_title }}</h2>
                <hr style="background-color: white">
                <div id="article">
                    <div class="article-entry">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/showdown.min.js"></script>

    </div>
</body>

</html>
{% if blog %}
    <script type="text/javascript">
        {#进行字符转义#}

        function html_decode(str) {
            var s = "";
            if (str.length == 0) return "";
            s = str.replace(/&amp;/g, "&");
            s = s.replace(/&lt;/g, "<");
            s = s.replace(/&gt;/g, ">");
            s = s.replace(/&nbsp;/g, " ");
            s = s.replace(/&#39;/g, "\'");
            s = s.replace(/&quot;/g, "\"");
            s = s.replace(/<br\/>/g, "\n");
            return s;
        }

        var content = html_decode("{{ blog.blog_content }}");
        var converter = new showdown.Converter(); //初始化转换器
        var htmlcontent = converter.makeHtml(content); //将MarkDown转为html格式的内容
        $("#article .article-entry").html(htmlcontent);//添加到 div 中 显示出来
        {#console.log(htmlcontent);#}
    </script>
{% endif %}