<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>


</head>
<body>
<div id="article">
    <div class="article-entry">
 </div>
</div>

</body>
</html>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/static/js/showdown.min.js"></script>
<script type="text/javascript">
    var content = "'1111111\r\n2222222\r\n3333333\r\n<br>\r\njjjjjjjj";
    var converter = new showdown.Converter(); //初始化转换器
    var htmlcontent  = converter.makeHtml(content); //将MarkDown转为html格式的内容
    $("#article .article-entry").html(htmlcontent);//添加到 div 中 显示出来
</script>